body {
    --font-family-primary: 'Roboto', sans-serif;
    --color-white: #ffffff;
    --color-gray: #f6f8fc;
    --color-dark-gray: #8394a7;
    --color-pink: #ee4382;
    --color-violet: #934af9;
    --color-blue: #4361ee;
    --color-black: #000000;
}